<p style="color: green"><%= notice %></p>

<%= render @cliente %>

<h2>Sucursales</h2>
<% @cliente.sucursale.each do |sucursale| %>
  <%= sucursale.nombre %>
  <%= link_to "Eliminar", sucursale_path(sucursale), data: {turbo_method: :delete, turbo_confirm: "Esta seguro?"}%>
  <%= link_to "Editar", edit_sucursale_path(sucursale) %>

  <br>
<% end %>

<br>
<br>
<%= link_to "Agregar sucursal", new_cliente_sucursale_path(@cliente) %>

<div>


  <%= link_to "Edit this cliente", edit_cliente_path(@cliente) %> |
  <%= link_to "Back to clientes", clientes_path %>

  <%#= button_to "Destroy this cliente", @cliente, method: :delete %>
</div>
