<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password,
                hint: "Dejar en blanco si no desea cambiarla",
                required: false,
                input_html: { autocomplete: "Nueva password" } %>
    <%= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "Nueva password" } %>
    <%= f.input :current_password,
                hint: "Necesitamos tu contraseña para validar los cambios",
                required: true,
                input_html: { autocomplete: "Contraseña actual" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Actualizar", class: "btn btn-primary shadow" %>
  </div>
<% end %>
<br>
<h3>Eliminar cuenta</h3>

<p><%= button_to "Eliminar mi cuenta", registration_path(resource_name), form: { data: { turbo_confirm: "Are you sure?" } }, method: :delete, class: "btn btn-danger shadow" %></p>

<%= link_to "Atras", :back, class: "btn btn-secondary shadow" %>
