
<%= simple_form_for(@reporte) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :cliente %>
    <%= f.association :sucursale %>
    <%= f.association :equipo %>
    <%= f.input :enchufes %>
    <%= f.input :cables %>
    <%= f.input :conecciones %>
    <%= f.input :estructura %>
    <%= f.input :corrosion %>
    <%= f.input :bases %>
    <%= f.input :ventiladores %>
    <%= f.input :condensador %>
    <%= f.input :compresor %>
    <%= f.input :evaporador %>
    <%= f.input :linea_refrigerante %>
    <%= f.input :aislacion %>
    <%= f.input :correas %>
    <%= f.input :lubricacion %>
    <%= f.input :filtro_de_aire %>
    <%= f.input :carcasa %>
    <%= f.input :partida_normal %>
    <%= f.input :vibraciones_y_ruido %>
    <%= f.input :luces_e_indicadores %>
    <%= f.input :direccion_de_ventiladores %>
    <%= f.input :nivel_de_aceite %>
    <%= f.input :nivel_de_refrigerante %>
    <%= f.input :pruebas_de_funcionamiento %>
    <%= f.input :alarmas %>
    <%= f.input :sobrecalor %>
    <%= f.input :sobrecalentamiento %>
    <%= f.input :presion_de_succion %>
    <%= f.input :presion_de_descarga %>
    <%= f.input :tarjeta_de_control %>
    <%= f.input :compresor_f1 %>
    <%= f.input :compresor_f2 %>
    <%= f.input :compresor_f3 %>
    <%= f.input :compresor_m %>
    <%= f.input :ventilador_compresor_f1 %>
    <%= f.input :ventilador_compresor_f2 %>
    <%= f.input :ventilador_compresor_f3 %>
    <%= f.input :ventilador_compresor_m %>
    <%= f.input :ventilador_evaporador_inyeccion_f1 %>
    <%= f.input :ventilador_evaporador_inyeccion_f2 %>
    <%= f.input :ventilador_evapodar_f3 %>
    <%= f.input :ventilador_evaporador_m %>
    <%= f.input :ventilador_retorno_f1 %>
    <%= f.input :ventilador_retorno_f2 %>
    <%= f.input :ventilador_retorno_f3 %>
    <%= f.input :ventilador_retorno_m %>
    <%= f.input :calefactor_f1 %>
    <%= f.input :calefactor_f2 %>
    <%= f.input :calefactor_f3 %>
    <%= f.input :calefactor_m %>
    <%= f.input :cable_poder_f1 %>
    <%= f.input :cable_poder_f2 %>
    <%= f.input :cable_poder_f3 %>
    <%= f.input :cable_poder_m %>
    <%= f.input :tension_total_f1 %>
    <%= f.input :tension_total_f2 %>
    <%= f.input :tension_total_f3 %>
    <%= f.input :tension_total_m %>
    <%= f.input :detalle %>
    <%= f.input :insumos_repuestos %>
    <%= f.input :firma_solicitante %>
    <%= f.input :firma_tecnico %>
    <%= f.input :imagen_1 %>
    <%= f.input :imagen_2 %>
    <%= f.input :imagen_3 %>
    <%= f.input :coigo_qr %>
    <%= f.input :otros %>
    <%= f.input :fecha %>
    <%= f.input :servicio %>
    <%= f.input :chiller_presion_agua %>
    <%= f.input :chiller_presion_agua_retorno %>
    <%= f.input :chiller_t_agua_suministrada %>
    <%= f.input :chiller_t_agua_retorno %>
    <%= f.input :chiller_caudal_suministrado %>
    <%= f.input :chiller_caudal_retorno %>
    <%= f.input :a1 %>
    <%= f.input :a2 %>
    <%= f.input :a3 %>
    <%= f.input :a4 %>
    <%= f.input :b1 %>
    <%= f.input :b2 %>
    <%= f.input :b3 %>
  </div>
<br>
  <div class="form-actions">
    <%= f.button :submit, "Crear reporte", class: "btn btn-primary shadow" %>
  </div>
<% end %>
