
<%= simple_form_for(@reporte) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :cliente_id, input_html: { value: params[:cliente_id] }, as: :hidden %>
    <%= f.input :sucursale_id, input_html: { value: params[:sucursale_id]}, as: :hidden %>
    <%= f.input :equipo_id, input_html: { value: params[:equipo_id]}, as: :hidden %>
    <%= f.input :servicio, label: "Tipo de servicio", collection: ["Reparación", "Mantención", "Visita técnica", "Garantía"], selected: "Reparación" %>
    <%= f.input :incio, label: "Inicio" %>
    <%= f.input :termino %>
    <%= f.input :enchufes, collection: ["OK", "DMG"], selected: "OK" %>
    <%= f.input :cables, collection: ["OK", "DMG"], selected: "OK" %>
    <%= f.input :conecciones, collection: ["OK", "DMG"], selected: "OK" %>
    <%= f.input :estructura, collection: ["OK", "DMG"], selected: "OK" %>
    <%= f.input :corrosion, collection: ["OK", "DMG"], selected: "OK" %>
    <%= f.input :bases, collection: ["OK", "DMG"], selected: "OK" %>
    <%= f.input :ventiladores, collection: ["OK", "DMG"], selected: "OK" %>
    <%= f.input :condensador, collection: ["OK", "DMG"], selected: "OK" %>
    <%= f.input :compresor, collection: ["OK", "DMG"], selected: "OK" %>
    <%= f.input :evaporador, collection: ["OK", "DMG"], selected: "OK" %>
    <%= f.input :linea_refrigerante, collection: ["OK", "DMG"], selected: "OK" %>
    <%= f.input :aislacion, collection: ["OK", "DMG"], selected: "OK" %>
    <%= f.input :correas, collection: ["OK", "DMG"], selected: "OK" %>
    <%= f.input :lubricacion, collection: ["OK", "DMG"], selected: "OK" %>
    <%= f.input :otros, label: "Drenajes", collection: ["OK", "DMG"], selected: "OK" %>
    <%= f.input :filtro_de_aire, collection: ["OK", "DMG"], selected: "OK" %>
    <%= f.input :carcasa, collection: ["OK", "DMG"], selected: "OK" %>
    <%= f.input :partida_normal, collection: ["OK", "DMG"], selected: "OK" %>
    <%= f.input :vibraciones_y_ruido, collection: ["OK", "DMG"], selected: "OK" %>
    <%= f.input :luces_e_indicadores, collection: ["OK", "DMG"], selected: "OK" %>
    <%= f.input :direccion_de_ventiladores, collection: ["OK", "DMG"], selected: "OK" %>
    <%= f.input :nivel_de_aceite, collection: ["OK", "DMG"], selected: "OK" %>
    <%= f.input :nivel_de_refrigerante, collection: ["OK", "DMG"], selected: "OK" %>
    <%= f.input :pruebas_de_funcionamiento, collection: ["OK", "DMG"], selected: "OK" %>
    <%= f.input :alarmas, collection: ["OK", "DMG"], selected: "OK" %>
    <%= f.input :sobrecalor, collection: ["OK", "DMG"], selected: "OK" %>
    <%= f.input :sobrecalentamiento, collection: ["OK", "DMG"], selected: "OK" %>
    <%= f.input :presion_de_succion, as: :numeric %>
    <%= f.input :presion_de_descarga, as: :numeric %>
    <%= f.input :tarjeta_de_control, collection: ["OK", "DMG"], selected: "OK" %>
    <%= f.input :compresor_f1, label: "Compresor f1(Amp)" %>
    <%= f.input :compresor_f2, label: "Compresor f2(Amp)" %>
    <%= f.input :compresor_f3, label: "Compresor f3(Amp)" %>
    <%= f.input :compresor_m, label: "Compresor f1(M-ohms)" %>
    <%= f.input :ventilador_compresor_f1, label: "Ventilador condensador f1(Amp)" %>
    <%= f.input :ventilador_compresor_f2, label: "Ventilador condensador f2(Amp)" %>
    <%= f.input :ventilador_compresor_f3, label: "Ventilador condensador f3(Amp)" %>
    <%= f.input :ventilador_compresor_m, label: "Ventilador condensador (M-ohms)" %>
    <%= f.input :ventilador_evaporador_inyeccion_f1, label: "Ventilador evaporador f1(Amp)" %>
    <%= f.input :ventilador_evaporador_inyeccion_f2, label: "Ventilador evaporador f2(Amp)" %>
    <%= f.input :ventilador_evapodar_f3, label: "Ventilador evaporador f3(Amp)" %>
    <%= f.input :ventilador_evaporador_m, label: "Ventilador evaporador (M-ohms)" %>
    <%= f.input :ventilador_retorno_f1 %>
    <%= f.input :ventilador_retorno_f2 %>
    <%= f.input :ventilador_retorno_f3 %>
    <%#= f.input :ventilador_retorno_m %>
    <%#= f.input :calefactor_f1 %>
    <%#= f.input :calefactor_f2 %>
    <%#= f.input :calefactor_f3 %>
    <%#= f.input :calefactor_m %>
    <%#= f.input :cable_poder_f1 %>
    <%#= f.input :cable_poder_f2 %>
    <%#= f.input :cable_poder_f3 %>
    <%#= f.input :cable_poder_m %>
    <%= f.input :tension_total_f1 %>
    <%= f.input :tension_total_f2 %>
    <%= f.input :tension_total_f3 %>
    <%#= f.input :tension_total_m %>

    <%= f.input :chiller_presion_agua, as: :numeric, label: "Chiller presion agua (BAR)" %>
    <%= f.input :chiller_presion_agua_retorno, as: :numeric, label: "Chiller presion agua retorno (BAR)" %>
    <%= f.input :chiller_t_agua_suministrada, as: :numeric, label: "Chiller Temp agua suninistro (ºC)" %>
    <%= f.input :chiller_t_agua_retorno, as: :numeric, label: "Chiller Temp agua retorno (ºC)" %>
    <%= f.input :chiller_caudal_suministrado, as: :numeric, label: "Chiller caudal suministro (m3/hr)" %>
    <%= f.input :chiller_caudal_retorno, as: :numeric, label: "Chiller caudal retorno (m3/hr)" %>
    <%#= f.input :a1, label: "Repuestos" %>
    <%= f.input :a2, input_html: { value: current_user.email }, as: :hidden %>
    <%#= f.input :a3 %>
    <%#= f.input :a4 %>
    <%#= f.input :b3 %>
    <%= f.input :b1, label: "Gases" %>
    <%= f.input :b2, label: "Aceite" %>
    <%#= f.input :fecha %>
    <%= f.input :detalle %>
    <%= f.input :insumos_repuestos %>
  </div>
<br>
  <div class="form-actions">
    <%= f.button :submit, "Crear reporte", class: "btn btn-primary shadow" %>
  </div>
<% end %>
