
<div class="invoice-box" style="min-height:600px;">
  <table cellpadding="0" cellspacing="0">
    <tr class="top">
      <td colspan="4">

    </tr>
    <tr>
      <td colspan="5">
        <table>
          <tr>
            <td><img src="/logo.svg" style="width:100%; max-width:80px;"><br><i class="bi bi-envelope-at"></i> info@tesla.cl<br><i class="bi bi-browser-chrome"></i> www.tesla.cl<br><i class="bi bi-telephone-fill"></i> +56 32 259 1548</td>
            <td><%= render_qr_code_mini("").html_safe %></td>
          </tr>
        </table>
        <h2><br><%= reporte.servicio %> Nº <%= reporte.id %> <br> </h2>
      </td>
    </tr>
    <tr class="heading">
      <td>Cliente</td>
      <td>Sucursal</td>
      <td>Dirección</td>
      <td>Rut</td>
      <td>Fecha</td>

    </tr>
    <tr>
      <td><%= reporte.cliente.nombre.capitalize %></td>
      <td><%= reporte.sucursale.nombre.capitalize %></td>
      <td><%= reporte.sucursale.direccion.capitalize %></td>
      <td><%= reporte.cliente.rut %></td>
      <td><%= reporte.termino.strftime("%d/%m/%Y") %></td>

    </tr>
    <tr class="heading">
      <td>Equipo</td>
      <td>Tipo</td>
      <td>Marca</td>
      <td>Modelo</td>
      <td>Serie</td>
    </tr>
    <tr>
      <td><%= reporte.equipo.codigo %></td>
      <td><%= reporte.equipo.unidad %></td>
      <td><%= reporte.equipo.tipo %></td>
      <td><%= reporte.equipo.otros %></td>
      <td><%= reporte.equipo.contacto %></td>
    </tr>

    </table>


    <table>
    <br>
    <tr class="heading">
      <td>Chequeo estatico</td>
      <td>Estado</td>
      <td>Chequeo dinamico</td>
      <td>Estado</td>
      <td></td>
    </tr>
    <tr>
      <td>Enchufes</td>
      <td><%= reporte.enchufes %></td>
      <td>Partida normal:</td>
      <td><%= reporte.partida_normal %></td>
    </tr>
    <tr>
      <td>Cables</td>
      <td><%= reporte.cables %></td>
      <td>Vibraciones y ruido:</td>
      <td><%= reporte.vibraciones_y_ruido %></td>
    </tr>
    <tr>
      <td>Conecciones:</td>
      <td><%= reporte.conecciones %></td>
      <td>Luces e indicacdores:</td>
      <td><%= reporte.luces_e_indicadores %></td>
    </tr>
    <tr>
      <td>Estructura:</td>
      <td><%= reporte.estructura %></td>
      <td>Direccion de ventiladores:</td>
      <td><%= reporte.direccion_de_ventiladores %></td>
    </tr>
    <tr>
      <td>Corrosion:</td>
      <td><%= reporte.corrosion %></td>
      <td>Nivel de aceite:</td>
      <td><%= reporte.nivel_de_aceite %></td>
    </tr>
    <tr>
      <td>Bases:</td>
      <td><%= reporte.bases %></td>
      <td>Nivel de refrigerante:</td>
      <td><%= reporte.nivel_de_refrigerante %></td>
    </tr>
    <tr>
      <td>Ventiladores:</td>
      <td><%= reporte.ventiladores %></td>
      <td>Pruebas de funcionamiento:</td>
      <td><%= reporte.pruebas_de_funcionamiento %></td>
    </tr>
    <tr>
      <td>Condensador:</td>
      <td><%= reporte.condensador %></td>
      <td>Alarmas:</td>
      <td><%= reporte.alarmas %></td>
    </tr>
    <tr>
      <td>Compresor:</td>
      <td><%= reporte.compresor %></td>
      <td>Sobrecalor:</td>
      <td><%= reporte.sobrecalor %></td>
    </tr>
    <tr>
      <td>Evaporador:</td>
      <td><%= reporte.evaporador %></td>
      <td>Tarjeta de control:</td>
      <td><%= reporte.tarjeta_de_control %></td>
    </tr>
    <tr>
      <td>Linea refrigerante:</td>
      <td><%= reporte.linea_refrigerante %></td>
      <td>Sobrecalentamiento:</td>
      <td><%= reporte.sobrecalentamiento %></td>
    </tr>
    <tr>
      <td>Aislacion:</td>
      <td><%= reporte.aislacion %></td>
      <td>Presion de descarga:</td>
      <td><%= reporte.presion_de_descarga %></td>
    </tr>
    <tr>
      <td>Correas:</td>
      <td><%= reporte.correas %></td>
      <td>Presion de succion:</td>
      <td><%= reporte.presion_de_succion %></td>
    </tr>
    <tr>
      <td>Lubricacion:</td>
      <td><%= reporte.lubricacion %></td>
      <td><strong>Gases (kg)</strong></td>
      <td><%= reporte.b1 %></td>

    </tr>
    <tr>
      <td>Drenajes:</td>
      <td><%= reporte.otros %></td>
      <td><strong>Aceite (l)</strong></td>
      <td><%= reporte.b2 %></td>

    </tr>
    <tr>
      <td>Filtro de aire:</td>
      <td><%= reporte.filtro_de_aire %></td>
      <td>Chiller presion de agua S-R</td>
      <td><%= reporte.chiller_presion_agua%> - <%= reporte.chiller_presion_agua_retorno %></td>

    </tr>
    <tr>
      <td>Carcasa:</td>
      <td><%= reporte.carcasa %></td>
      <td>Chiller tº agua S-R</td>
      <td><%= reporte.chiller_t_agua_suministrada%> - <%= reporte.chiller_t_agua_retorno %></td>
    </tr>
    <tr>
      <td> Tension total(Volt)</td>
      <td><%= reporte.tension_total_m%></td>
      <td>Caudal chiller S-R</td>
      <td><%= reporte.chiller_caudal_suministrado%> - <%= reporte.chiller_caudal_retorno %></td>
    </tr>
    <tr class="heading">
      <td>Parametros de lectura</td>
      <td>F1 (Amp)</td>
      <td>F2 (Amp)</td>
      <td>F3 (Amp)</td>
      <td>(M-&#8486;)</td>
    </tr>
    <tr>
      <td>Compresor</td>
      <td><%= reporte.compresor_f1 %></td>
      <td><%= reporte.compresor_f2 %></td>
      <td><%= reporte.compresor_f3 %></td>
      <td><%= reporte.compresor_m %></td>
    </tr>
    <tr>
      <td>Ventilador compresor</td>
      <td><%= reporte.ventilador_compresor_f1 %></td>
      <td><%= reporte.ventilador_compresor_f2 %></td>
      <td><%= reporte.ventilador_compresor_f3 %></td>
      <td><%= reporte.ventilador_compresor_m %></td>
    </tr>
    <tr>
      <td>Ventilador evaporador</td>
      <td><%= reporte.ventilador_evaporador_inyeccion_f1 %></td>
      <td><%= reporte.ventilador_evaporador_inyeccion_f2 %></td>
      <td><%= reporte.ventilador_evapodar_f3 %></td>
      <td><%= reporte.ventilador_evaporador_m %></td>
    </tr>


  </table>

  <table>
      <thead>
        <tr class="heading">
          <td>Detalles</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= reporte.detalle %></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
</table>
<table>
      <thead>
        <tr class="heading">
          <td>Insumos y Repuestos</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= reporte.insumos_repuestos %></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
</table>
<table>
      <thead>
        <tr class="heading">
          <td>Observaciones</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= reporte.a1 %></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
</table>
</div>



</div>




<style>

    .invoice-box {
    max-width: 900px;
    margin: auto;
    padding: 30px;
    border: 1px solid #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, .15);
    font-size: 12px;

    color: #555;
  }

  .invoice-box table {
    width: 100%;
    line-height: inherit;
    text-align: left;
  }

  .invoice-box table tr td:nth-child(n+2) {
    text-align: right;
  }

  .invoice-box table tr.top table td {
    padding-bottom: 20px;
  }

  .invoice-box table tr.information table td {
    padding-bottom: 40px;
  }

  .invoice-box table tr.heading td {
    background: #eee;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
  }

  @media only screen and (max-width: 600px) {
    .invoice-box table tr.top table td {
        width: 100%;
        display: block;
        text-align: center;
    }

    .invoice-box table tr.information table td {
        width: 100%;
        display: block;
        text-align: center;
    }
  }

    @media print {
      .noprint,.botones, .alert, .header
       {
        display: none !important;
      }


    .invoice-box {
      max-width: 900px !important;
      margin: auto !important;
      padding: 30px !important;
      border: 1px solid #eee !important;
      box-shadow: 0 0 10px rgba(0, 0, 0, .15) !important;
      font-size: 12px;

      color: #555 !important;
      -webkit-print-color-adjust: exact !important;
    }

    .invoice-box table {
      width: 100%;
      line-height: inherit !important;
      text-align: left !important;
      -webkit-print-color-adjust: exact !important;
    }



    .invoice-box table tr td:nth-child(n+2) {
      text-align: right !important;
      -webkit-print-color-adjust: exact !important;
    }

    .invoice-box table tr.top table td {
      padding-bottom: 20px !important;
      -webkit-print-color-adjust: exact !important;
    }



    .invoice-box table tr.information table td {
      padding-bottom: 40px !important;
      -webkit-print-color-adjust: exact !important;
    }

    .invoice-box table tr.heading td {
      background: #eee !important;
      border-bottom: 1px solid #ddd !important;
      font-weight: bold !important;
      -webkit-print-color-adjust: exact !important;
    }


  }
</style>

<script>
  function printpage()
  {
     window.print()
  }

</script>
