<div id="<%= dom_id reporte %>">
  <p>
    <strong>Cliente:</strong>
    <%= reporte.cliente_id %>
  </p>

  <p>
    <strong>Sucursale:</strong>
    <%= reporte.sucursale_id %>
  </p>

  <p>
    <strong>Equipo:</strong>
    <%= reporte.equipo_id %>
  </p>

  <p>
    <strong>Enchufes:</strong>
    <%= reporte.enchufes %>
  </p>

  <p>
    <strong>Cables:</strong>
    <%= reporte.cables %>
  </p>

  <p>
    <strong>Conecciones:</strong>
    <%= reporte.conecciones %>
  </p>

  <p>
    <strong>Estructura:</strong>
    <%= reporte.estructura %>
  </p>

  <p>
    <strong>Corrosion:</strong>
    <%= reporte.corrosion %>
  </p>

  <p>
    <strong>Bases:</strong>
    <%= reporte.bases %>
  </p>

  <p>
    <strong>Ventiladores:</strong>
    <%= reporte.ventiladores %>
  </p>

  <p>
    <strong>Condensador:</strong>
    <%= reporte.condensador %>
  </p>

  <p>
    <strong>Compresor:</strong>
    <%= reporte.compresor %>
  </p>

  <p>
    <strong>Evaporador:</strong>
    <%= reporte.evaporador %>
  </p>

  <p>
    <strong>Linea refrigerante:</strong>
    <%= reporte.linea_refrigerante %>
  </p>

  <p>
    <strong>Aislacion:</strong>
    <%= reporte.aislacion %>
  </p>

  <p>
    <strong>Correas:</strong>
    <%= reporte.correas %>
  </p>

  <p>
    <strong>Lubricacion:</strong>
    <%= reporte.lubricacion %>
  </p>

  <p>
    <strong>Filtro de aire:</strong>
    <%= reporte.filtro_de_aire %>
  </p>

  <p>
    <strong>Carcasa:</strong>
    <%= reporte.carcasa %>
  </p>

  <p>
    <strong>Partida normal:</strong>
    <%= reporte.partida_normal %>
  </p>

  <p>
    <strong>Vibraciones y ruido:</strong>
    <%= reporte.vibraciones_y_ruido %>
  </p>

  <p>
    <strong>Luces e indicadores:</strong>
    <%= reporte.luces_e_indicadores %>
  </p>

  <p>
    <strong>Direccion de ventiladores:</strong>
    <%= reporte.direccion_de_ventiladores %>
  </p>

  <p>
    <strong>Nivel de aceite:</strong>
    <%= reporte.nivel_de_aceite %>
  </p>

  <p>
    <strong>Nivel de refrigerante:</strong>
    <%= reporte.nivel_de_refrigerante %>
  </p>

  <p>
    <strong>Pruebas de funcionamiento:</strong>
    <%= reporte.pruebas_de_funcionamiento %>
  </p>

  <p>
    <strong>Alarmas:</strong>
    <%= reporte.alarmas %>
  </p>

  <p>
    <strong>Sobrecalor:</strong>
    <%= reporte.sobrecalor %>
  </p>

  <p>
    <strong>Sobrecalentamiento:</strong>
    <%= reporte.sobrecalentamiento %>
  </p>

  <p>
    <strong>Presion de succion:</strong>
    <%= reporte.presion_de_succion %>
  </p>

  <p>
    <strong>Presion de descarga:</strong>
    <%= reporte.presion_de_descarga %>
  </p>

  <p>
    <strong>Tarjeta de control:</strong>
    <%= reporte.tarjeta_de_control %>
  </p>

  <p>
    <strong>Compresor f1:</strong>
    <%= reporte.compresor_f1 %>
  </p>

  <p>
    <strong>Compresor f2:</strong>
    <%= reporte.compresor_f2 %>
  </p>

  <p>
    <strong>Compresor f3:</strong>
    <%= reporte.compresor_f3 %>
  </p>

  <p>
    <strong>Compresor m:</strong>
    <%= reporte.compresor_m %>
  </p>

  <p>
    <strong>Ventilador compresor f1:</strong>
    <%= reporte.ventilador_compresor_f1 %>
  </p>

  <p>
    <strong>Ventilador compresor f2:</strong>
    <%= reporte.ventilador_compresor_f2 %>
  </p>

  <p>
    <strong>Ventilador compresor f3:</strong>
    <%= reporte.ventilador_compresor_f3 %>
  </p>

  <p>
    <strong>Ventilador compresor m:</strong>
    <%= reporte.ventilador_compresor_m %>
  </p>

  <p>
    <strong>Ventilador evaporador inyeccion f1:</strong>
    <%= reporte.ventilador_evaporador_inyeccion_f1 %>
  </p>

  <p>
    <strong>Ventilador evaporador inyeccion f2:</strong>
    <%= reporte.ventilador_evaporador_inyeccion_f2 %>
  </p>

  <p>
    <strong>Ventilador evapodar f3:</strong>
    <%= reporte.ventilador_evapodar_f3 %>
  </p>

  <p>
    <strong>Ventilador evaporador m:</strong>
    <%= reporte.ventilador_evaporador_m %>
  </p>

  <p>
    <strong>Ventilador retorno f1:</strong>
    <%= reporte.ventilador_retorno_f1 %>
  </p>

  <p>
    <strong>Ventilador retorno f2:</strong>
    <%= reporte.ventilador_retorno_f2 %>
  </p>

  <p>
    <strong>Ventilador retorno f3:</strong>
    <%= reporte.ventilador_retorno_f3 %>
  </p>

  <p>
    <strong>Ventilador retorno m:</strong>
    <%= reporte.ventilador_retorno_m %>
  </p>

  <p>
    <strong>Calefactor f1:</strong>
    <%= reporte.calefactor_f1 %>
  </p>

  <p>
    <strong>Calefactor f2:</strong>
    <%= reporte.calefactor_f2 %>
  </p>

  <p>
    <strong>Calefactor f3:</strong>
    <%= reporte.calefactor_f3 %>
  </p>

  <p>
    <strong>Calefactor m:</strong>
    <%= reporte.calefactor_m %>
  </p>

  <p>
    <strong>Cable poder f1:</strong>
    <%= reporte.cable_poder_f1 %>
  </p>

  <p>
    <strong>Cable poder f2:</strong>
    <%= reporte.cable_poder_f2 %>
  </p>

  <p>
    <strong>Cable poder f3:</strong>
    <%= reporte.cable_poder_f3 %>
  </p>

  <p>
    <strong>Cable poder m:</strong>
    <%= reporte.cable_poder_m %>
  </p>

  <p>
    <strong>Tension total f1:</strong>
    <%= reporte.tension_total_f1 %>
  </p>

  <p>
    <strong>Tension total f2:</strong>
    <%= reporte.tension_total_f2 %>
  </p>

  <p>
    <strong>Tension total f3:</strong>
    <%= reporte.tension_total_f3 %>
  </p>

  <p>
    <strong>Tension total m:</strong>
    <%= reporte.tension_total_m %>
  </p>

  <p>
    <strong>Detalle:</strong>
    <%= reporte.detalle %>
  </p>

  <p>
    <strong>Insumos repuestos:</strong>
    <%= reporte.insumos_repuestos %>
  </p>

  <p>
    <strong>Firma solicitante:</strong>
    <%= reporte.firma_solicitante %>
  </p>

  <p>
    <strong>Firma tecnico:</strong>
    <%= reporte.firma_tecnico %>
  </p>

  <p>
    <strong>Imagen 1:</strong>
    <%= reporte.imagen_1 %>
  </p>

  <p>
    <strong>Imagen 2:</strong>
    <%= reporte.imagen_2 %>
  </p>

  <p>
    <strong>Imagen 3:</strong>
    <%= reporte.imagen_3 %>
  </p>

  <p>
    <strong>Coigo qr:</strong>
    <%= reporte.coigo_qr %>
  </p>

  <p>
    <strong>Otros:</strong>
    <%= reporte.otros %>
  </p>

  <p>
    <strong>Fecha:</strong>
    <%= reporte.fecha %>
  </p>

  <p>
    <strong>Servicio:</strong>
    <%= reporte.servicio %>
  </p>

  <p>
    <strong>Chiller presion agua:</strong>
    <%= reporte.chiller_presion_agua %>
  </p>

  <p>
    <strong>Chiller presion agua retorno:</strong>
    <%= reporte.chiller_presion_agua_retorno %>
  </p>

  <p>
    <strong>Chiller t agua suministrada:</strong>
    <%= reporte.chiller_t_agua_suministrada %>
  </p>

  <p>
    <strong>Chiller t agua retorno:</strong>
    <%= reporte.chiller_t_agua_retorno %>
  </p>

  <p>
    <strong>Chiller caudal suministrado:</strong>
    <%= reporte.chiller_caudal_suministrado %>
  </p>

  <p>
    <strong>Chiller caudal retorno:</strong>
    <%= reporte.chiller_caudal_retorno %>
  </p>

  <p>
    <strong>A1:</strong>
    <%= reporte.a1 %>
  </p>

  <p>
    <strong>A2:</strong>
    <%= reporte.a2 %>
  </p>

  <p>
    <strong>A3:</strong>
    <%= reporte.a3 %>
  </p>

  <p>
    <strong>A4:</strong>
    <%= reporte.a4 %>
  </p>

  <p>
    <strong>B1:</strong>
    <%= reporte.b1 %>
  </p>

  <p>
    <strong>B2:</strong>
    <%= reporte.b2 %>
  </p>

  <p>
    <strong>B3:</strong>
    <%= reporte.b3 %>
  </p>

</div>
