 <table id="myTable" class="table table-responsive table-bordered table-sm table-hover shadow" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Reporte</th>
      <th>Cliente</th>
      <th>Sucursal</th>
      <th>Codigo</th>
      <th>Unidad</th>
      <th>Tiempo</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @reportes.each do |reporte| %>
      <tr>
        <td><%= reporte.created_at.strftime("%m/%d/%y") %></td>
        <td><%= reporte.sucursale.cliente.nombre %></td>
        <td><%= reporte.sucursale.nombre %></td>
        <td><%= reporte.equipo.codigo %></td>
        <td><%= reporte.equipo.unidad %></td>
        <td><%= (reporte.termino.to_i - reporte.incio.to_i) / 3600 / 24  %></td>

        <td class="text-center">

          <%= link_to '', reporte, class: 'btn btn-sm btn-secondary command-edit shadow p-1 rounded bi-binoculars-fill'%>
          <%= link_to '', edit_reporte_path(reporte), class: "btn btn-sm btn-primary command-delete shadow p-1 rounded bi bi-pencil-square" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>





<script type="text/javascript">
  $(document).ready(function() {
    $('#myTable').DataTable( {
        "language": {
            "lengthMenu": "_MENU_ registros por pagina",
            "zeroRecords": "Nada encontrado",
            "info": "Pagina _PAGE_ de _PAGES_",
            "infoEmpty": "No hay registros disponibles",
            "infoFiltered": "(filtrado de un total de _MAX_ registros)",
            "search": "Buscar:",
            "paginate": {
            "first": "Primero",
            "last": "Último",
            "next": "Siguiente",
            "previous": "Anterior"
    }

        }
    } );
} );
</script>

