 <table id="myTable" class="table table-responsive table-bordered table-sm table-hover shadow" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Dirección</th>
      <th>Contacto</th>
      <th>Creado</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @reportes.each do |reporte| %>
      <tr>
        <td><%= reporte.created_at %></td>
        <td><%= reporte.created_at %></td>
        <td><%= reporte.created_at %></td>
        <td><%= reporte.created_at.strftime("%m/%d/%y") %></td>
        <td class="text-center">

          <%= link_to '', reporte, class: 'btn btn-sm btn-secondary command-edit shadow p-1 rounded bi bi-pencil-square'%>
          <%= link_to '', edit_reporte_path(reporte), class: "btn btn-sm btn-primary command-delete shadow p-1 rounded bi-binoculars-fill" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
