 <table id="myTable" class="table table-responsive table-bordered table-sm table-hover shadow" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Reporte</th>
      <th>Cliente</th>
      <th>Sucursal</th>
      <th>Dirección</th>
      <th>Unidad</th>
      <th>Tipo</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @reportes.each do |reporte| %>
      <tr>
        <td><%= reporte.created_at.strftime("%m/%d/%y") %></td>
        <td><%= reporte.sucursale.cliente.nombre %></td>
        <td><%= reporte.sucursale.nombre %></td>
        <td><%= reporte.sucursale.direccion %></td>
        <td><%= reporte.equipo.unidad %></td>
        <td><%= reporte.equipo.tipo %></td>

        <td class="text-center">

          <%= link_to '', reporte, class: 'btn btn-sm btn-secondary command-edit shadow p-1 rounded bi-binoculars-fill'%>
          <%= link_to '', edit_reporte_path(reporte), class: "btn btn-sm btn-primary command-delete shadow p-1 rounded bi bi-pencil-square" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<script src="https://code.jquery.com/jquery-3.6.3.slim.min.js"></script>


<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>

<script type="text/javascript">
  $(document).ready(function() {
    $('#myTable').DataTable( {
        "language": {
            "lengthMenu": "_MENU_ registros por pagina",
            "zeroRecords": "Nada encontrado",
            "info": "Pagina _PAGE_ de _PAGES_",
            "infoEmpty": "No hay registros disponibles",
            "infoFiltered": "(filtrado de un total de _MAX_ registros)"

        }
    } );
} );
</script>
