
<div class="modal modal-tour position-static d-block py-5" tabindex="-1" role="dialog" id="modalTour">
  <div class="modal-dialog" role="document">
    <div class="modal-content rounded-4 shadow">
      <div class="modal-body p-5">
      <%= image_tag ("logo.svg")%>

       <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs pt-3">
          <%= f.input :email,
                      required: false,
                      class: "pt-3",
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
          <%= f.input :password,
                      required: false,
                      class: "pt-3",
                      input_html: { autocomplete: "current-password" } %>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Ingresar", class: "btn btn-primary shadow mb-2 mt-2" %><br>
          <%= render "devise/shared/links" %>
          <%= render "devise/shared/error_messages" %>
 <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
<%= resource.errors.inspect %>


        </div>
<br>
<% end %>
      </div>
    </div>
  </div>
</div>







