<div id="<%= dom_id equipo %>">
  <p>
    <strong>Sucursale:</strong>
    <%= equipo.sucursale_id %>
  </p>

  <p>
    <strong>Unidad:</strong>
    <%= equipo.unidad %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= equipo.tipo %>
  </p>

  <p>
    <strong>Contacto:</strong>
    <%= equipo.contacto %>
  </p>

  <p>
    <strong>Otros:</strong>
    <%= equipo.otros %>
  </p>

  <p>
    <strong>Codigo:</strong>
    <%= equipo.codigo %>
  </p>

  <p>
    <strong>Observaciones:</strong>
    <%= equipo.observaciones %>
  </p>

</div>
