<div id="<%= dom_id equipo %>">
<h1>Detalle de equipo</h1>
<table id="myTable" class="table table-responsive table-bordered table-sm table-hover shadow" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Rut</th>
      <th>Nombre cliente</th>
      <th>Sucursal</th>
      <th>Unidad</th>
      <th>Tipo</th>
      <th>Contacto</th>
      <th>Otros</th>
      <th>Codigo</th>
      <th>Creado</th>
      <th>Observaciones</th>
    </tr>
  </thead>

  <tbody>
      <tr>

        <td><%= equipo.sucursale.cliente.rut %></td>
        <td><%= equipo.sucursale.nombre %></td>
        <td><%= equipo.unidad  %></td>
        <td><%= equipo.tipo %></td>
        <td><%= equipo.contacto %></td>
        <td><%= equipo.otros %></td>
        <td><%= equipo.codigo %></td>
        <td><%= equipo.created_at.strftime("%m/%d/%y") %></td>
         <td><%= equipo.observaciones %></td>
        <td class="text-center">
        </td>
      </tr>

  </tbody>
</table>


<button type="button" class="btn btn-primary">Nuevo reporte para este equipo</button>


