<div id="<%= dom_id equipo %>">
    <strong>Rut:</strong>
    <%= equipo.sucursale.cliente.rut %><br>
     <strong>Nombre cliente:</strong>
    <%= equipo.sucursale.cliente.nombre %><br>
     <strong>Sucursal:</strong>
    <%= equipo.sucursale.nombre %><br>
    <strong>Unidad:</strong>
    <%= equipo.unidad %><br>
    <strong>Tipo:</strong>
    <%= equipo.tipo %><br>
    <strong>Contacto:</strong>
    <%= equipo.contacto %><br>
    <strong>Otros:</strong>
    <%= equipo.otros %><br>
    <strong>Codigo:</strong>
    <%= equipo.codigo %><br>
    <strong>Observaciones:</strong>
    <%= equipo.observaciones %><br>
</div>
<button type="button" class="btn btn-primary">Nuevo reporte de este equipo</button>
