<div id="<%= dom_id equipo %>">
<h1>Detalle de equipo</h1>
<table id="myTable" class="table table-responsive table-bordered table-sm table-hover shadow" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Rut</th>
      <th>Cliente</th>
      <th>Sucursal</th>
      <th>Unidad</th>
      <th>Codigo</th>
      <th>Marca</th>
      <th>Serie</th>
      <th>Modelo</th>
      <th>Ingresado</th>
      <th>Observaciones</th>
      <th>Ubicación</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
      <tr>

        <td><%= equipo.sucursale.cliente.rut %></td>
        <td><%= equipo.sucursale.cliente.nombre %></td>
        <td><%= equipo.sucursale.nombre %></td>
        <td><%= equipo.unidad  %></td>
        <td><%= equipo.codigo %></td>
        <td><%= equipo.tipo %></td>
        <td><%= equipo.contacto %></td>
        <td><%= equipo.otros %></td>
        <td><%= equipo.created_at.strftime("%m/%d/%y") %></td>
        <td><%= equipo.observaciones %></td>
        <td><%= equipo.ubicacion %></td>
      </tr>

  </tbody>
</table>


<%= link_to "Nuevo reporte para este equipo", new_reporte_path(equipo_id: equipo.id, sucursale_id: equipo.sucursale.id,cliente_id: equipo.sucursale.cliente.id), class: "btn btn-primary" %>
<%= link_to "Volver a equipos", equipos_path, class: "btn btn-secondary shadow" %>


