


<%= simple_form_for(@equipo) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :sucursale, label_method: :nombre, label: 'Sucursal' %>
    <%= f.input :unidad, collection: ["AC", "Chiller", "VIN", "VEX", "Bba Calor", "Camara refrigeración", "Humidificadores", "Otros"] %>
    <%= f.input :tipo, collection:  ["Split", "Ventana", "VRV", "Compacto", "Otros"] %>
    <%= f.input :otros, collection:  ["Unidad interior", "Unidad exterior", "Varios unidades exteriores"]%>
    <%= f.input :contacto %>
    <%= f.input :codigo %>
    <%= f.input :observaciones %>


  </div>
<br>
  <div class="form-actions">
    <%= f.button :submit, "Crear sucursal" , class: "btn btn-primary shadow" %>
  </div>
<% end %>
