


<%= simple_form_for(@equipo) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%#= f.association :sucursale, label_method: :nombre, input_html: { value: params[:sucursale] } %>
    <%#= f.association :sucursale, label_method: :id, value_method: :id, input_html: { value: params[:sucursale_id] } %>
    <%= f.input :codigo %>
    <%= f.input :sucursale_id, value_method: :id, label_method: :nombre, input_html: { value: params[:sucursale_id] }, as: :hidden %>
    <%= f.input :unidad, collection: ["AC Ventana", "AC Compacto", "AC Split muro", "AC Split ducto multiposicional", "AC Split ducto baja silueta", "AC Split piso/cielo", "AC Split cassette", "VIN", "VEX", "Chiller", "Bba Calor", "VRV", "UMA", "Humidificadores", "Deshumidificadores", "Camara refrigeración", "Otros"] %>
    <%= f.input :tipo, label: "tipo" %>
    <%= f.input :otros, label: "Chiller y VRV indicar unidades interiores y exteriores", collection: ["Unidad interior", "Unidad exterior", "Varios unidades exteriores"]%>
    <%= f.input :contacto %>
    <%= f.input :observaciones %>


  </div>
<br>
  <div class="form-actions">
    <%= f.button :submit, "Crear equipo" , class: "btn btn-primary shadow" %>
  </div>
<% end %>

