 <table id="myTable" class="table table-responsive table-bordered table-sm table-hover shadow" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Cliente</th>
      <th>Sucursal</th>
      <th>Unidad</th>
      <th>Tipo</th>
      <th>Contacto</th>

      <th>Creado</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @equipos.each do |equipo| %>
      <tr>
        <td><%= equipo.sucursale.cliente.nombre %></td>
        <td><%= equipo.sucursale.nombre %></td>
        <td><%= equipo.unidad %></td>
        <td><%= equipo.tipo %></td>
        <td><%= equipo.contacto %></td>



        <td><%= equipo.created_at.strftime("%m/%d/%y") %></td>
        <td class="text-center">
           <%= link_to "", new_reporte_path(equipo_id: equipo.id, sucursale_id: equipo.sucursale.id,cliente_id: equipo.sucursale.cliente.id), class: "btn btn-sm btn-primary command-delete shadow p-1 rounded bi bi-folder-plus" %>
          <%= link_to '', equipo, class: 'btn btn-sm btn-secondary command-edit shadow p-1 rounded bi-binoculars-fill'%>
          <%= link_to '', edit_equipo_path(equipo), class: "btn btn-sm btn-danger command-delete shadow p-1 rounded bi bi-pencil-square" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<script type="text/javascript">
  $(document).ready(function() {
    $('#myTable').DataTable( {
        "language": {
            "lengthMenu": "_MENU_ registros por pagina",
            "zeroRecords": "Nada encontrado",
            "info": "Pagina _PAGE_ de _PAGES_",
            "infoEmpty": "No hay registros disponibles",
            "infoFiltered": "(filtrado de un total de _MAX_ registros)",
            "search": "Buscar:",
            "paginate": {
            "first": "Primero",
            "last": "Último",
            "next": "Siguiente",
            "previous": "Anterior"
    }

        }
    } );
} );
</script>
