
<div class="noprint">
<%= render @equipo %>

<br>
<br>
<h2>Ultimas revisiones</h2>

<%= render "history" %>
</div>


</div>
<%= image_tag ("logo.svg")%><br><br>
<%= render_qr_code("").html_safe %><br>
<h3><%= @equipo.codigo %></h3>

<br>
<br>
<div class="noprint">
<%= link_to "Imprimir codigo", '#', class: "btn btn-primary shadow m-1", onclick: "printpage()" %>

</div>
<style>

  @media print {
      .noprint,.botones, .alert, .header
       {
        display: none !important;
      }
</style>
<script>
  function printpage()
  {
     window.print()
  }

</script>
