<div id="<%= dom_id sucursale %>">
  <p>
    <strong>Cliente:</strong>
    <%= sucursale.cliente.nombre %>
  </p>

  <p>
    <strong>Nombre:</strong>
    <%= sucursale.nombre %>
  </p>

  <p>
    <strong>Direccion:</strong>
    <%= sucursale.direccion %>
  </p>

  <p>
    <strong>Contacto:</strong>
    <%= sucursale.contacto %>
  </p>

</div>
